@use "Common.scss" as *;

.formItem {
  width: 100%;
  :global(.ant-form-item-control) {
    margin-bottom: 0 !important; 
  }

  :global(.ant-form-item-explain) {
    margin-top: 0px !important; 
    line-height: 1.2;
    font-size: 12px;
  }
}

/* ----------------------- INPUT NORMAL HOVER ----------------------- */
.customHoverInput {
  border: 1px solid $neutral-400;
  border-radius: 8px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: none;

  &:hover {
    border-color: $mainColor; // chỉ đổi màu, không tăng độ dày
    box-shadow: none;
  }

  &:focus,
  &.ant-input-focused {
    border-color: $mainColor;
    box-shadow: none; // giữ nguyên kích thước
    outline: none;
  }

  &:disabled,
  &.ant-input-disabled {
    background-color: $neutral-100;
    color: $neutral-500;
    border-color: $neutral-300;
    cursor: not-allowed;
    box-shadow: none;
  }
}

/* ----------------------- INPUT UNDERLINE ----------------------- */
.customUnderlineInput {
  border: none;
  border-bottom: 1px solid $neutral-400;
  border-radius: 0;
  background-color: transparent;
  padding: 6px 0;
  transition: border-color 0.3s ease;

  &:hover {
    border-bottom-color: $mainColor;
  }

  &:focus,
  &.ant-input-focused {
    border-bottom-color: $mainColor;
    outline: none;
  }

  &:disabled,
  &.ant-input-disabled {
    border-bottom-color: $neutral-300;
    background-color: $neutral-100;
    color: $neutral-500;
    cursor: not-allowed;
  }
}
