@import "Common.scss";

.ButtonLoading {
    :global {
        .MuiButtonBase-root {
            height: 36px;
            // padding: 10px 20px;
            font-size: 14px;
            font-weight: 500;
            // color: white !important;
            font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
            text-transform: initial;
            // border: none !important;
            outline: none !important;
            box-shadow: none !important;
            border-radius: $border-radius-content !important;
            min-width: 90px !important;
            line-height: 36px;
        }

        .MuiLoadingButton-loading.Mui-disabled {
            background-color: rgba(0, 0, 0, 0.12) !important;
        }

        .MuiButton-containedSuccess {
            background-color: #138300;
            color: #ffffff;
            border-color: transparent;

            &:hover {
                background-color: #1ba103;
            }
            &:disabled {
                color: rgba(0, 0, 0, 0.26) !important;
                box-shadow: none !important;
                background-color: rgba(0, 0, 0, 0.12) !important;
            }
        }

        .MuiButton-outlinedSuccess {
            &:hover {
                color: #1ba103;
                background-color: #ffffff;
                border: 1px solid #1ba103;
            }
            &:disabled {
                color: rgba(0, 0, 0, 0.26) !important;
                box-shadow: none !important;
                background-color: rgba(0, 0, 0, 0.12) !important;
            }
        }
    }
}

.ButtonLoadingRed {
    :global {
        .MuiButtonBase-root {
            height: 36px;
            padding: 10px 20px;
            font-size: 14px;
            font-weight: 500;
            // color: white !important;
            font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
            text-transform: initial;
            // border: none !important;
            outline: none !important;
            box-shadow: none !important;
            border-radius: $border-radius-content !important;
            min-width: 90px !important;
        }

        .MuiLoadingButton-loading.Mui-disabled {
            background-color: rgba(0, 0, 0, 0.12) !important;
        }

        .MuiButton-containedSuccess {
            background-color: #ff2c00;
            color: #ffffff;
            border-color: transparent;

            &:hover {
                background-color: #ff7070;
            }

            &:disabled {
                color: rgba(0, 0, 0, 0.26) !important;
                box-shadow: none !important;
                background-color: rgba(0, 0, 0, 0.12) !important;
            }
        }

        .MuiButton-outlinedSuccess {
            color: #ff2c00;
            border: 1px solid #ff2c00;
            &:hover {
                color: #ff7070;
                background-color: #ffffff;
                border: 1px solid #ff7070;
            }
            &:disabled {
                color: rgba(0, 0, 0, 0.26) !important;
                box-shadow: none !important;
                background-color: rgba(0, 0, 0, 0.12) !important;
                border: transparent;
            }
        }
    }
}

.ButtonLoadingGray {
    :global {
        .MuiButtonBase-root {
            height: 36px;
            padding: 10px 20px;
            font-size: 14px;
            font-weight: 500;
            // color: white !important;
            font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
            text-transform: initial;
            // border: none !important;
            outline: none !important;
            box-shadow: none !important;
            border-radius: $border-radius-content !important;
            min-width: 90px !important;
        }

        .Mui-disabled {
            color: rgba(0, 0, 0, 0.26) !important;
            box-shadow: none !important;
            background-color: rgba(0, 0, 0, 0.12) !important;
        }

        .MuiLoadingButton-loading.Mui-disabled {
            color: rgba(0, 0, 0, 0.26) !important;
            box-shadow: none !important;
            background-color: rgba(0, 0, 0, 0.12) !important;
        }

        .MuiButton-containedSuccess {
            background-color: $neutral-200;
            color: #333333;
            border-color: transparent;

            &:hover {
                background-color: $neutral-200;
            }

            &:disabled {
                color: rgba(0, 0, 0, 0.26) !important;
                box-shadow: none !important;
                background-color: rgba(0, 0, 0, 0.12) !important;
            }
        }

        .MuiButton-outlinedSuccess {
            color: #333333;
            border: 1px solid $neutral-200;
            &:hover {
                color: #333333;
                background-color: $neutral-200;
                border: 1px solid $neutral-200;
            }
            &:disabled {
                color: rgba(0, 0, 0, 0.26) !important;
                box-shadow: none !important;
                background-color: rgba(0, 0, 0, 0.12) !important;
                border: transparent;
            }
        }
    }
}

.ButtonLoadingOrgan {
    :global {
        .MuiButtonBase-root {
            height: 36px;
            padding: 10px 20px;
            font-size: 14px;
            font-weight: 500;
            // color: white !important;
            font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
            text-transform: initial;
            // border: none !important;
            outline: none !important;
            box-shadow: none !important;
            border-radius: $border-radius-content !important;
            min-width: 90px !important;
        }

        .Mui-disabled {
            color: rgba(0, 0, 0, 0.26) !important;
            box-shadow: none !important;
            background-color: rgba(0, 0, 0, 0.12) !important;
        }

        .MuiLoadingButton-loading.Mui-disabled {
            color: rgba(0, 0, 0, 0.26) !important;
            box-shadow: none !important;
            background-color: rgba(0, 0, 0, 0.12) !important;
        }

        .MuiButton-containedSuccess {
            background-color: #ff7029;
            color: #ffffff;
            border-color: transparent;

            &:hover {
                background-color: #ff7029;
            }

            &:disabled {
                color: rgba(0, 0, 0, 0.26) !important;
                box-shadow: none !important;
                background-color: rgba(0, 0, 0, 0.12) !important;
            }
        }

        .MuiButton-outlinedSuccess {
            color: #333333;
            border: 1px solid #ff7029;
            &:hover {
                color: #333333;
                background-color: #ff7029;
                border: 1px solid #ff7029;
            }
            &:disabled {
                color: rgba(0, 0, 0, 0.26) !important;
                box-shadow: none !important;
                background-color: rgba(0, 0, 0, 0.12) !important;
                border: transparent;
            }
        }
    }
}

.ButtonLoadingBlueGray {
    :global {
        .MuiButtonBase-root {
            height: 36px;
            padding: 10px 20px;
            font-size: 14px;
            font-weight: 500;
            // color: white !important;
            font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
            text-transform: initial;
            // border: none !important;
            outline: none !important;
            box-shadow: none !important;
            border-radius: $border-radius-content !important;
            min-width: 90px !important;
        }

        .Mui-disabled {
            color: rgba(0, 0, 0, 0.26) !important;
            box-shadow: none !important;
            background-color: rgba(0, 0, 0, 0.12) !important;
        }

        .MuiLoadingButton-loading.Mui-disabled {
            color: rgba(0, 0, 0, 0.26) !important;
            box-shadow: none !important;
            background-color: rgba(0, 0, 0, 0.12) !important;
        }

        .MuiButton-containedSuccess {
            background-color: #3078f1;
            color: #ffffff;
            border-color: transparent;

            &:hover {
                background-color: #3078f1;
            }

            &:disabled {
                color: rgba(0, 0, 0, 0.26) !important;
                box-shadow: none !important;
                background-color: rgba(0, 0, 0, 0.12) !important;
            }
        }

        .MuiButton-outlinedSuccess {
            color: #333333;
            border: 1px solid #3078f1;
            &:hover {
                color: #333333;
                background-color: #3078f1;
                border: 1px solid #3078f1;
            }
            &:disabled {
                color: rgba(0, 0, 0, 0.26) !important;
                box-shadow: none !important;
                background-color: rgba(0, 0, 0, 0.12) !important;
                border: transparent;
            }
        }
    }
}

.ButtonLoadingDanger {
    :global {
        .MuiButtonBase-root {
            height: 36px;
            padding: 10px 20px;
            font-size: 14px;
            font-weight: 500;
            // color: white !important;
            font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
            text-transform: initial;
            // border: none !important;
            outline: none !important;
            box-shadow: none !important;
            border-radius: $border-radius-content !important;
            min-width: 90px !important;
        }

        .Mui-disabled {
            color: rgba(0, 0, 0, 0.26) !important;
            box-shadow: none !important;
            background-color: rgba(0, 0, 0, 0.12) !important;
        }

        .MuiLoadingButton-loading.Mui-disabled {
            color: rgba(0, 0, 0, 0.26) !important;
            box-shadow: none !important;
            background-color: rgba(0, 0, 0, 0.12) !important;
        }

        .MuiButton-containedSuccess {
            background-color: #ff3434;
            color: #ffffff;
            border-color: transparent;

            &:hover {
                background-color: #ff3434;
            }

            &:disabled {
                color: rgba(0, 0, 0, 0.26) !important;
                box-shadow: none !important;
                background-color: rgba(0, 0, 0, 0.12) !important;
            }
        }

        .MuiButton-outlinedSuccess {
            color: #333333;
            border: 1px solid #ff3434;
            &:hover {
                color: #333333;
                background-color: #ff3434;
                border: 1px solid #ff3434;
            }
            &:disabled {
                color: rgba(0, 0, 0, 0.26) !important;
                box-shadow: none !important;
                background-color: rgba(0, 0, 0, 0.12) !important;
                border: transparent;
            }
        }
    }
}

.ButtonLoadingViolet {
    :global {
        .MuiButtonBase-root {
            height: 36px;
            padding: 10px 20px;
            font-size: 14px;
            font-weight: 500;
            // color: white !important;
            font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
            text-transform: initial;
            // border: none !important;
            outline: none !important;
            box-shadow: none !important;
            border-radius: $border-radius-content !important;
            min-width: 90px !important;
        }

        .Mui-disabled {
            color: rgba(0, 0, 0, 0.26) !important;
            box-shadow: none !important;
            background-color: rgba(0, 0, 0, 0.12) !important;
        }

        .MuiLoadingButton-loading.Mui-disabled {
            color: rgba(0, 0, 0, 0.26) !important;
            box-shadow: none !important;
            background-color: rgba(0, 0, 0, 0.12) !important;
        }

        .MuiButton-containedSuccess {
            background-color: #7130fb;
            color: #ffffff;
            border-color: transparent;

            &:hover {
                background-color: #7130fb;
            }

            &:disabled {
                color: rgba(0, 0, 0, 0.26) !important;
                box-shadow: none !important;
                background-color: rgba(0, 0, 0, 0.12) !important;
            }
        }

        .MuiButton-outlinedSuccess {
            color: #333333;
            border: 1px solid #7130fb;
            &:hover {
                color: #333333;
                background-color: #7130fb;
                border: 1px solid #7130fb;
            }
            &:disabled {
                color: rgba(0, 0, 0, 0.26) !important;
                box-shadow: none !important;
                background-color: rgba(0, 0, 0, 0.12) !important;
                border: transparent;
            }
        }
    }
}

.ButtonLoadingBlue1 {
    :global {
        .MuiButtonBase-root {
            height: 36px;
            padding: 10px 20px;
            font-size: 14px;
            font-weight: 500;
            // color: white !important;
            font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
            text-transform: initial;
            // border: none !important;
            outline: none !important;
            box-shadow: none !important;
            border-radius: $border-radius-content !important;
            min-width: 90px !important;
        }

        .Mui-disabled {
            color: rgba(0, 0, 0, 0.26) !important;
            box-shadow: none !important;
            background-color: rgba(0, 0, 0, 0.12) !important;
        }

        .MuiLoadingButton-loading.Mui-disabled {
            color: rgba(0, 0, 0, 0.26) !important;
            box-shadow: none !important;
            background-color: rgba(0, 0, 0, 0.12) !important;
        }

        .MuiButton-containedSuccess {
            background-color: #00a7cc;
            color: #ffffff;
            border-color: transparent;

            &:hover {
                background-color: #00a7cc;
            }

            &:disabled {
                color: rgba(0, 0, 0, 0.26) !important;
                box-shadow: none !important;
                background-color: rgba(0, 0, 0, 0.12) !important;
            }
        }

        .MuiButton-outlinedSuccess {
            color: #333333;
            border: 1px solid #00a7cc;
            &:hover {
                color: #333333;
                background-color: #00a7cc;
                border: 1px solid #00a7cc;
            }
            &:disabled {
                color: rgba(0, 0, 0, 0.26) !important;
                box-shadow: none !important;
                background-color: rgba(0, 0, 0, 0.12) !important;
                border: transparent;
            }
        }
    }
}

.ButtonLoadingBlue {
    :global {
        .MuiButtonBase-root {
            height: 36px;
            padding: 10px 20px;
            font-size: 14px;
            font-weight: 500;
            // color: white !important;
            font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
            text-transform: initial;
            // border: none !important;
            outline: none !important;
            box-shadow: none !important;
            border-radius: $border-radius-content !important;
            min-width: 90px !important;
        }

        .Mui-disabled {
            color: rgba(0, 0, 0, 0.26) !important;
            box-shadow: none !important;
            background-color: rgba(0, 0, 0, 0.12) !important;
        }

        .MuiLoadingButton-loading.Mui-disabled {
            color: rgba(0, 0, 0, 0.26) !important;
            box-shadow: none !important;
            background-color: rgba(0, 0, 0, 0.12) !important;
        }

        .MuiButton-containedSuccess {
            background-color: #0e49b5;
            color: #ffffff;
            border-color: transparent;

            &:hover {
                background-color: #0e49b5;
            }

            &:disabled {
                color: rgba(0, 0, 0, 0.26) !important;
                box-shadow: none !important;
                background-color: rgba(0, 0, 0, 0.12) !important;
            }
        }

        .MuiButton-outlinedSuccess {
            color: #333333;
            border: 1px solid #0e49b5;
            &:hover {
                color: #333333;
                background-color: #0e49b5;
                border: 1px solid #0e49b5;
            }
            &:disabled {
                color: rgba(0, 0, 0, 0.26) !important;
                box-shadow: none !important;
                background-color: rgba(0, 0, 0, 0.12) !important;
                border: transparent;
            }
        }
    }
}

.ButtonLoadingRed {
    :global {
        .MuiButtonBase-root {
            height: 36px;
            padding: 10px 20px;
            font-size: 14px;
            font-weight: 500;
            // color: white !important;
            font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
            text-transform: initial;
            // border: none !important;
            outline: none !important;
            box-shadow: none !important;
            border-radius: $border-radius-content !important;
            min-width: 90px !important;
        }

        .MuiLoadingButton-loading.Mui-disabled {
            background-color: rgba(0, 0, 0, 0.12) !important;
        }

        .MuiButton-containedSuccess {
            background-color: #ff2c00;
            color: #ffffff;
            border-color: transparent;

            &:hover {
                background-color: #ff7070;
            }

            &:disabled {
                color: rgba(0, 0, 0, 0.26) !important;
                box-shadow: none !important;
                background-color: rgba(0, 0, 0, 0.12) !important;
            }
        }

        .MuiButton-outlinedSuccess {
            color: #ff2c00;
            border: 1px solid #ff2c00;
            &:hover {
                color: #ff7070;
                background-color: #ffffff;
                border: 1px solid #ff7070;
            }
            &:disabled {
                color: rgba(0, 0, 0, 0.26) !important;
                box-shadow: none !important;
                background-color: rgba(0, 0, 0, 0.12) !important;
                border: transparent;
            }
        }
    }
}

.ButtonLoadingLightGreen {
    :global {
        .MuiButtonBase-root {
            height: 36px;
            padding: 10px 20px;
            font-size: 14px;
            font-weight: 500;
            font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
            text-transform: initial;
            outline: none !important;
            box-shadow: none !important;
            border-radius: $border-radius-content !important;
            min-width: 90px !important;
        }

        .MuiLoadingButton-loading.Mui-disabled {
            background-color: rgba(0, 0, 0, 0.12) !important;
        }

        .MuiButton-containedSuccess {
            background-color: #d2f2cc;
            color: #138300;
            border-color: transparent;

            &:hover {
                background-color: #d2f2cc;
            }

            &:disabled {
                color: rgba(0, 0, 0, 0.26) !important;
                box-shadow: none !important;
                background-color: rgba(0, 0, 0, 0.12) !important;
            }
        }

        .MuiButton-outlinedSuccess {
            color: #138300;
            border: 1px solid #d2f2cc;
            &:hover {
                color: #d2f2cc;
                background-color: #ffffff;
                border: 1px solid #d2f2cc;
            }
            &:disabled {
                color: rgba(0, 0, 0, 0.26) !important;
                box-shadow: none !important;
                background-color: rgba(0, 0, 0, 0.12) !important;
                border: transparent;
            }
        }
    }
}

.ButtonLoadingYellow {
    :global {
        .MuiButtonBase-root {
            height: 36px;
            padding: 10px 20px;
            font-size: 14px;
            font-weight: 500;
            // color: white !important;
            font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
            text-transform: initial;
            // border: none !important;
            outline: none !important;
            box-shadow: none !important;
            border-radius: $border-radius-content !important;
            min-width: 90px !important;
        }

        .MuiLoadingButton-loading.Mui-disabled {
            background-color: rgba(0, 0, 0, 0.12) !important;
        }

        .MuiButton-containedSuccess {
            background-color: #e9b10c;
            color: #ffffff;
            border-color: transparent;

            &:hover {
                background-color: rgb(247, 223, 105);
            }

            &:disabled {
                color: rgba(0, 0, 0, 0.26) !important;
                box-shadow: none !important;
                background-color: rgba(0, 0, 0, 0.12) !important;
            }
        }
    }
}
