.container_top {
  position: sticky;
  top: 0;
  left: 0;
  width: 1158px;
  height: 56px;
  margin: 0;
  padding: 0;
  transition: top 0.25s ease-in-out, background-color 0.25s ease-in-out;
  z-index: 1000;
  background-color: transparent; /* mặc định trong suốt */
}

.container_top_color {
  background-color: rgba(26, 26, 26, 0.64);
}

.hidden-header {
  top: -56px; /* dịch header lên để ẩn */
}
